<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Runtime.Serialization" switchValue="All,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="NewListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="All,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="NewListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All,ActivityTracing">
        <listeners>
          <add name="NewListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="All,ActivityTracing">
        <listeners>
          <add name="NewListener"/>
        </listeners>
      </source>
      <source name="System.IO.Log" switchValue="All,ActivityTracing">
        <listeners>
          <add name="NewListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\Reflection.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
      </add>
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logEntireMessage="true" ></messageLogging>
    </diagnostics>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
